/* header Section  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: none;
}

.nav-title {
    color: rgb(49, 47, 47);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(49, 47, 47);
}

.header {
    background-color: #ecd3c1;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    ;
}

.banner {
    padding: 50px 50px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greating {
    font-size: 45px;
    color: dimgrey;
    margin-bottom: 0px;

}

.banner-name {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-dis {
    font-size: 25px;
    color: dimgrey;
    margin-bottom: 20px;

}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About section */
.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #e9c5a3;
    margin: 130px 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;

}

.section-description {
    color: #3f3b3b;
    text-align: center;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.about-info {
    text-align: center;
}

.info-description {
    font-weight: bold;

}

.info-title {
    font-weight: 100;
}